<footer id="my-footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-h2t">
          <h3 class="title">THÔNG TIN LIÊN HỆ </h3>
          <p class="text">Cửa hàng tại Hà Nội</p>
          <p class="text">Tổng Đài Online: 0247 306 6666</p>
          <a class="address"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>18 Khúc Thừa Dụ,
            Dịch Vọng, Cầu Giấy, Hà Nội</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-us" style="margin-bottom: 45px">
          <h3 class="title">Về chúng tôi</h3>
          <a href="https://www.facebook.com/" class="link">Facebook</a>
          <a href="/privacyPolicy" class="link">Chính sách bảo mật</a>
          <a href="/recruitment" class="link">Tuyển dụng</a>
        </div>
        <div class="news">
          <h2 class="title">Thông tin khác</h2>
          <a href="/returnPolicy" class="link">Chính sách đổi trả</a>
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <div class="subcribe">
          <h2 class="title">Đăng ký nhận thông báo</h2>
          <p class="text">Đăng ký nhận thông tin khuyến mãi và cập nhật sản phẩm mới nhất từ Sunny Shop</p>
          <form class="form-subcribe">
            <input type="text" id="email_newsletter" class="input-subcribe" placeholder="Nhập địa chỉ email tại đây">
            <p class="text">EMAIL liên hệ: info@sunnyshop.com</p>
            <button class="submit-subcribe"><i class="fas fa-envelope-open-text"></i></button>
          </form>
          <p class="text">Cửa hàng thời trang bán giầy cho nam Sunny Shop</p>
          <p class="text">18 Khúc Thừa Du, Dịch Vọng, Cầu Giấy, Hà Nội</p>
          <p class="text">SDT: 0247 306 6666</p>
          <div class="d-flex f flex-row" style="flex:1">
            <a href="https://www.facebook.com/" class="social fb" style="flex:0.33"><img src="/images/facebook.svg"
                alt="" style="width: 35px; background-color: white;"></a>
            <a href="https://www.youtube.com/" class="social youtube" style="flex:0.33">
              <i class="fa-3x fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>