<div class="header-nav border-bottom-solid-gray" style=" width: 100%;">
  <div class="container d-flex justify-content-center p-2">
    <div class="row full-w-h justify-content-between justify-content-md-center less-md-space-between">
      <div class="col-md-4 order-md-2">
        <div class="full-w-h d-flex justify-content-center align-items-center">
          <a href="/">
            <img src="/images/logoSunny.svg"
              class="h-max img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
              alt="logo">
          </a>
        </div>
      </div>
      <div class="col-md-4 order-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
        <ul class="header-right">
          <li>
            <a href="#">
              <span class="icon account-icon"></span>
            </a>
            <ul class="sub-title-menu account-wrapper">
              <li><a href="#">Sign in by email</a></li>
              <li><a href="#">Sign in by phone number</a></li>
              <li><a href="">Sign up</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Edit profile</a></li>
              <li><a href="">Logout</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="icon heart-icon"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon shopping-cart-icon">
                <span class="cart-icon">
                  <span class="cart-quantity">
                    1
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon  settings-icon"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 order-md-1 d-flex justify-content-center justify-content-md-start align-items-center">
        <form class="form-search" action="header-nav-search" method="get">
          <div class="input-container">
            <input id="search-input" type="text" placeholder="Search product">
            <span class="icon search-icon"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>