<div class="header-title border-bottom-solid-gray">
  <div class="header-title-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            <span>Mid-season sale up to 20% OFF. Use code “SALEOFF20”</span>
          </p>
        </div>
        <div class="col-md-6">
          <div class="header-title-right">
            <ul class="title-nav ">
              <li>
                <a href="#my-footer">Liên hệ</a>
              </li>
              <li>
                <a href="#">Vi
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="sub-title-menu">
                  <li>
                    <a href="#">Vi</a>
                  </li>
                  <li>
                    <a href="#">En</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">VND
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="sub-title-menu">
                  <li>
                    <a href="#">VND</a>
                  </li>
                  <li>
                    <a href="#">Dollars</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>