<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Men Shoes Shop</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="collapsibleNavId">
    <ul class="navbar-nav menu" style="font-size: 16px !important;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Giày Nam</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Giày thể thao</a>
          <a class="dropdown-item" href="#">Giày Lười và SlipOn</a>
          <a class="dropdown-item" href="#">Giày Tây</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sandal & Dép</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Boot</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Phụ Kiện</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Thắt Lưng và Khóa</a>
          <a class="dropdown-item" href="#">Lót giày</a>
          <a class="dropdown-item" href="#">Calavat</a>
        </div>
      </li>
      <%# <li class="nav-item"> %>
        <%# <a class="nav-link" href="#">Khuyến Mại</a> %>
        <%# </li> %>
    </ul>
  </div>
</nav>