<div class="container-fluid" style="background-color: #f4f4f4;; height: 110vh;">
  <div class="row d-flex flex-column pt-5 pl-5">

    <div class="info-left">
      <div class="login-warning">
        <div class="login-warning-title">
          <h4 style="text-transform: uppercase;"><%= mess1 %></h4>
        </div>
        <div class="login-warning-content">
          <p>
            <%= mess2 %>
          </p>
        </div>
        <div class="login-warning-button">
          <button style="display: inline-flex; align-items: center; ">
            <a style="text-decoration: none; color: white;" href="/">Go to home page</a>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>