<!DOCTYPE html>
<html>

<head>
  <% include head %>
</head>

<body>
  <div class="main">
    <div class="header-title border-bottom-solid-gray">
      <div class="header-title-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>
                <span>Mid-season sale up to 20% OFF. Use code “SALEOFF20”</span>
              </p>
            </div>
            <div class="col-md-6">
              <div class="header-title-right">
                <ul class="title-nav ">
                  <li>
                    <a href="#">Liên hệ</a>
                  </li>
                  <li>
                    <a href="#">Vi
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-title-menu">
                      <li>
                        <a href="#">Vi</a>
                      </li>
                      <li>
                        <a href="#">En</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">VND
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="sub-title-menu">
                      <li>
                        <a href="#">VND</a>
                      </li>
                      <li>
                        <a href="#">Dollars</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav border-bottom-solid-gray" style=" width: 100%;">
      <div class="container d-flex justify-content-center p-2">
        <div class="row full-w-h justify-content-between justify-content-md-center less-md-space-between">
          <div class="col-md-4 order-md-2">
            <div class="full-w-h d-flex justify-content-center align-items-center">
              <img src="images/logo-edit1.png"
                class="h-max img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt="logo">
            </div>
          </div>
          <div class="col-md-4 order-md-3 d-flex justify-content-center justify-content-md-end align-items-center">
            <ul class="header-right">
              <li>
                <a href="#">
                  <span class="icon account-icon"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon heart-icon"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon shopping-cart-icon">
                    <span class="cart-icon">
                      <span class="cart-quantity">
                        1
                      </span>
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon  settings-icon"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 order-md-1 d-flex justify-content-center justify-content-md-start align-items-center">
            <form class="form-search" action="header-nav-search" method="get">
              <div class="input-container">
                <input id="search-input" type="text" placeholder="Search product">
                <span class="icon search-icon"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Men Shoes Shop</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-center" id="collapsibleNavId">
        <!-- <ul>
          <li><a href="">
              <span>T1</span>
            </a>
          </li>
          <li><a href="">
              <span>T2</span>
            </a>
          </li>
          <li><a href="">
              <span>
                T3
              </span>
            </a></li>
          <li><a href="">
              <span>
                T4
              </span>
            </a></li>
        </ul> -->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Giày Nam</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Giày thể thao</a>
              <a class="dropdown-item" href="#">Giày Lười và SlipOn</a>
              <a class="dropdown-item" href="#">Giày Tây</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sandal & Dép</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Boot</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Phụ Kiện</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Thắt Lưng và Khóa</a>
              <a class="dropdown-item" href="#">Lót giày</a>
              <a class="dropdown-item" href="#">Calavat</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Khuyến Mại</a>
          </li>
        </ul>
      </div>
    </nav>
    <div style="width: 100%;">

    </div>
    <div class="home-page-panel"></div>
  </div>
</body>

</html>