<!DOCTYPE html>
<html>

<head>
  <%# include partials/head %>
  <%- include('./partials/head.ejs'); %>
</head>

<body>
  <div class="main container-fluid pl-0 pr-0">
    <% include partials/headerTitle %>
    <% include partials/headerNav %>
    <% include partials/navBarMenu  %>
    <%- body %>
    <%- include('./partials/footer.ejs'); %>
  </div>
  <% include partials/scriptFiles %>
</body>

</html>