<div class="container d-flex mt-5">
  <div class="blog-main_left content" style="width: 100% !important; font-size: 16px;">
    <div class="head-detail_blog" style="background: #fff;">
      <h1>Chính sách bảo mật thông tin</h1>
      <span class="date-detail">23-12-2014, 5:40 pm</span>
      <div style="margin-left: 10px;" class="fb-like fb_iframe_widget" data-href="http://h2tshop.com"
      data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"
      fb-xfbml-state="rendered"
      fb-iframe-plugin-query="action=like&amp;app_id=291270994823663&amp;container_width=0&amp;href=http%3A%2F%2Fh2tshop.com%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
      <span style="vertical-align: bottom; width: 154px; height: 20px;">
        <iframe name="f45bd1cdf49f8" width="1000px"
          height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
          allowfullscreen="true" scrolling="no" allow="encrypted-media"
          src="https://www.facebook.com/v4.0/plugins/like.php?action=like&amp;app_id=291270994823663&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Dfd4e81994a1114%26domain%3Dh2tstore.vn%26origin%3Dhttps%253A%252F%252Fh2tstore.vn%252Ff41da621112d2c%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fh2tshop.com%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"
          style="border: none; visibility: visible; width: 154px; height: 20px;" class="">
        </iframe>
      </span>
    </div>
    </div>
    <div class="nd">
      <p><strong><span>Chính sách bảo mật thông tin </span></strong></p>
      <ol>
        <li><em><span>a.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Mục đích và phạm vi thu
              thập</span></em></li>
      </ol>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Để truy cập và sử dụng một số dịch vụ tại
        Sunny Shop, quý khách có thể được yêu cầu đăng ký với chúng tôi thông tin cá nhân (thành viên), bao gồm:
        Email, Họ tên, Số ĐT liên lạc, địa chỉ, công ty, tên đăng nhập, mật khẩu.</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Chúng tôi cũng thu thập thông tin về số lần
        viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click, những thông tin khác liên quan đến việc
        kết nối đến Sunny Shop và các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào
        website Sunny Shop, gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser
        truy xuất đến.</p>
      <ol>
        <li><em><span>b.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Phạm vi sử dụng thông
              tin</span></em></li>
      </ol>
      <p><span>Sunny Shop </span><span>sử dụng thông tin Thành viên cung cấp để:</span></p>
      <p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Hỗ trợ khách hàng khi mua
          sản phẩm</span></p>
      <p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Giải đáp thắc mắc khách
          hàng</span></p>
      <p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Cung cấp cho khách hàng
          thông tin mới nhất trên Website của chúng tôi, thực hiện các khảo sát khách hàng, các hoạt động quảng bá liên
          quan đến các sản phẩm và dịch vụ của Sunny Shop nếu quý khách đăng kí nhận email thông báo.</span></p>
      <ol>
        <li><em><span>c.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Thời gian lưu trữ thông
              tin</span></em></li>
      </ol>
      <p><span>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span>Dữ liệu cá nhân của Thành
          viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự Thành viên đăng nhập và thực hiện hủy bỏ. Còn lại
          trong mọi trường hợp thông tin cá nhân Thành viên sẽ được bảo mật trên máy chủ của
        </span><span>Sunny Shop</span><span>.</span></p>
      <ol>
        <li><em><span>d.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Địa chỉ của đơn vị thu thập và
              quản lý thông tin cá nhân</span></em></li>
      </ol>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Hệ thống bán hàng online Sunny Shop</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Địa chỉ: 18 Khúc Thừa Dụ, Dịch Vọng, Cầu Giấy, Hà Nội</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Điện thoại: (048)5876666</p>
      <ol>
        <li><em><span>e.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Phương tiện và công cụ để
              người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</span></em></li>
      </ol>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Thành viên có quyền tự kiểm tra, cập nhật,
        điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân
        hoặc yêu cầu Sunny Shop thực hiện việc này.</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Thành viên có quyền gửi khiếu nại về người
        bán đến Ban quản trị của website Sunny Shop tại địa chỉ: <a
          href="mailto:sunny80@gmail.com">ngotungbg80@gmail.com</a>, Khi tiếp nhận những phản hồi này,
        Sunny Shop sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của Thành viên tùy theo mức độ,
        Sunny Shop sẽ có những biện pháp xử lý kịp thời.</p>
      <ol>
        <li><em><span>f.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></em><em><span>Cam kết bảo mật
              thông tin cá nhân khách hàng</span></em></li>
      </ol>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Thông tin cá nhân của Thành viên trên
        Sunny Shop được Sunny Shop cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của
        Sunny Shop. Việc thu thập và sử dụng thông tin của mỗi Thành viên chỉ được thực hiện khi có sự đồng ý của
        khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Không sử dụng, không chuyển giao, cung cấp
        hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của Thành viên khi không có sự cho phép đồng ý từ Thành viên.
      </p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Trong trường hợp máy chủ lưu trữ thông tin
        bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân Thành viên, Sunny Shop sẽ có trách nhiệm thông báo vụ
        việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho Thành viên được biết.</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Ban quản trị Sunny Shop yêu cầu các cá
        nhân khi đăng ký/mua hàng là Thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: họ và tên, địa
        chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán..., và chịu trách nhiệm
        về tính pháp lý của những thông tin trên. Ban quản trị Sunny Shop không chịu trách nhiệm cũng như không giải
        quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả thông tin cá nhân của Thành
        viên đó cung cấp khi đăng ký ban đầu là không chính xác.</p>
      <p>-<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Ban quản trị khuyến cáo Thành viên nên bảo
        mật các thông tin liên quan đến mật khẩu truy xuất của mình và không nên chia sẻ với bất kỳ người nào khác. Nếu sử
        dụng máy tính chung nhiều người, Thành viên nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</p>
      <p>&nbsp;</p>
    </div>
  </div>
  </div>
</div>