<div style="width: 100%; height: auto;background-color: #f5f5f5;padding-top: 50px; padding-bottom: 20px;">
  <div class="container d-flex flex-column" style="background: #fff;">
    <div class="head-detail_blog">
      <h1 style="">Chính Sách Đổi Trả Hàng Hóa Tại Sunny Shop </h1>
      <span class="date-detail">21-12-2018, 3:40 pm</span>
      <div style="margin-left: 10px;" class="fb-like fb_iframe_widget" data-href="/" data-layout="button_count"
        data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered"
        fb-iframe-plugin-query="action=like&amp;app_id=291270994823663&amp;container_width=0&amp;href=http%3A%2F%2Fh2tshop.com%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
        <span style="vertical-align: bottom; width: 154px; height: 20px;">
          <iframe name="f45bd1cdf49f8" width="1000px" height="1000px" title="fb:like Facebook Social Plugin"
            frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
            src="https://www.facebook.com/v4.0/plugins/like.php?action=like&amp;app_id=291270994823663&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Dfd4e81994a1114%26domain%3Dh2tstore.vn%26origin%3Dhttps%253A%252F%252Fh2tstore.vn%252Ff41da621112d2c%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fh2tshop.com%2F&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"
            style="border: none; visibility: visible; width: 154px; height: 20px;" class="">
          </iframe>
        </span>
      </div>
    </div>
    <div class="head-detail_blog">
      <p style="text-align: center;">
        <span style="font-size: 14pt;">
          <strong>QUY ĐỊNH ĐỔI TRẢ SẢN PHẨM CỦA SUNNY SHOP
          </strong>
        </span>
      </p>
      <p style="text-align: justify;">
        <span style="font-size: 10pt;">SUNNY SHOP nhận trả hàng đối với các sản phẩm không giống
          như hình ảnh trên Website.
        </span>
      </p>
      <p style="text-align: justify;">
        <span style="font-size: 14pt;">
          <strong>Quy định đổi hàng:
          </strong>
        </span>
      </p>
      <p>
        <strong>BƯỚC 1: KIỂM TRA ĐIỀU KIỆN ĐỔI HÀNG</strong>
      </p>
      <p>Tất cả sản phẩm thỏa mãn tất cả điều kiện sau và không thuộc danh sách sản phẩm không được đổi
        hàng</p>
      <p><strong>Điều kiện:</strong></p>
      <p><strong>&nbsp;</strong>- Hàng đổi trả trong vòng 24h kể từ khi nhận hàng ( tính theo dấu bưu điên )&nbsp;</p>
      <p>- Còn trong tình trạng ban đầu, còn tem, nhãn mác</p>
      <p>- Chưa qua giặt, ủi hoặc bị bẩn, hư hỏng</p>
      <p>- Đổi sản phẩm trong bao bì có dán mã sản phẩm bên ngoài.</p>
      <p>- Đổi sản phẩm cùng Hóa đơn&nbsp;</p>
      <p>- Đổi sản phẩm do hư hỏng từ phía shop</p>
      <p><strong>BƯỚC 2: ĐÓNG GÓI SẢN PHẨM, CHỨNG TỪ VÀ GỬI VỀ SHOP&nbsp;</strong></p>
      <p>- Quý khách vui lòng đóng gói:&nbsp;<strong>Sản phẩm muốn đổi + Hóa đơn &nbsp;(nếu có)&nbsp;</strong>và gửi về
        shop theo địa chỉ sau:</p>
      <p><strong>BƯỚC 3: GỬI HOÀN&nbsp;</strong></p>
      <p>- Shop kiểm tra đơn hàng nếu là lỗi từ phía shop thì bên Sunny sẽ chịu toàn bộ chi phí và gửi hàng mới đến cho
        bạn.
      </p>
      <p>- Trường hợp do quý khách muốn đổi hàng: Quý khách vui lòng thanh toán phí ship đổi hàng + phí tồn hàng
        &nbsp;5% giá trị hàng. Nếu đổi hàng có giá trị thấp hơn thì tiền thừa của quý khách sẽ được lưu lại Shop để khấu
        trừ cho những lần mua hàng tiếp theo.</p>
      <p>Quý khách vui lòng xem rõ thông số sản phẩm trước khi mua hàng, tránh trường hợp mua về bị rộng quá hoặc chật
        quá không mặc được phải đổi lại.</p>
      <p><span style="font-size: 12pt;"><em><strong>Những trường hợp KHÔNG đổi trả sản phẩm:</strong></em></span></p>
      <p>- Các sản phẩm thuộc chương trình giảm giá, khuyến mại, quà tặng.</p>
      <p>- Các sản phẩm của khách hàng là Cộng Tác Viên, Các đơn mua sỉ.</p>
      <p>&nbsp;- Sản phẩm mua về đã qua giặt là sử dụng hoặc không còn nguyên tem nhãn.</p>
      <p>&nbsp;- Sản phẩm hư hỏng do lỗi của khách hàng.</p>
      <p>&nbsp;- Sản phẩm hư hỏng do gặp trường hợp bất khả kháng trong quá trình vận chuyển như: thiên tai, hỏa hoạn...
      </p>
      <p>Cám ơn sự tin tưởng và ủng hộ của Quý khách!</p>
      <p>&nbsp;Địa chỉ nhận hàng: 18 Khúc Thừa Dụ, Dịch Vọng, Cầu Giấy, Hà Nội. SĐT:&nbsp;<strong>0247306666</strong>
      </p>
    </div>
  </div>
</div>