<div class="container-fluid pt-3" style="height: 1500px;">
  <div class="row products justify-content-space">
    <div class="c-product-card">
      <div class="product-card">
        <a href="#">
          <div class="product-card-media">
            <img id="product-img"
              src="https://cdn.vortexs.io/api/images/3f57c2a4-f804-4809-be32-8274f412f791/375/w/hang-chinh-hang-puma-rs-x-hard-drive-2020.jpeg"
              alt="">
          </div>
        </a>
        <div class="product-card-details">
          <h2 id="productName">6028 - Hàng Chính Hãng Adidas Pure Boost All Terrain Grey 2020**</h2>
          <div class="product-price flex-wrap">
            <span class="old-price">2,220,000đ</span>
            <span class="current-price">1,920,000đ</span>
          </div>
        </div>
        <div class="button lux-bg d-flex flex-row flex-wrap">
          <button type="button" class="product-btn">
            <i class="icon heart-icon"></i>
          </button>
          <button type="button" class="product-btn">
            <i class="icon shopping-cart-icon">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="c-product-card">
      <div class="product-card ">
        <a href="#">
          <div class="product-card-media">
            <img
              src="https://cdn.vortexs.io/api/images/3f57c2a4-f804-4809-be32-8274f412f791/375/w/hang-chinh-hang-puma-rs-x-hard-drive-2020.jpeg"
              alt="">
          </div>
        </a>
        <div class="product-card-details"></div>

      </div>
    </div>
    <div class="c-product-card">
      <div class="product-card ">
        <a href="#">
          <div class="product-card-media">
            <img
              src="https://cdn.vortexs.io/api/images/3f57c2a4-f804-4809-be32-8274f412f791/375/w/hang-chinh-hang-puma-rs-x-hard-drive-2020.jpeg"
              alt="">
          </div>
        </a>
        <div class="product-card-details"></div>

      </div>
    </div>
    <div class="c-product-card ">
      <div class="product-card ">
        <a href="#">
          <div class="product-card-media ">
            <img
              src="https://cdn.vortexs.io/api/images/3f57c2a4-f804-4809-be32-8274f412f791/375/w/hang-chinh-hang-puma-rs-x-hard-drive-2020.jpeg"
              alt="">
          </div>
        </a>
        <div class="product-card-details"></div>

      </div>
    </div>
  </div>

</div>