<div class="full-w lux-bg">
  <div class="container pt-3">
    <div class="row full-w products-header">      
    </div>
    <div class="row d-flex flex-wrap" style="height: 100px;background-color: aqua;">
      
      <%#product start%>
      <div class="product-card">
          <div class="product-image">
            <img src="assets/img/coat-01.jpeg">
          </div>
          <div class="product-info">
            <h5>Winter Jacket</h5>
            <h6>$99.99</h6>
          </div>
      </div>
      <%#product end%>
    </div>
  </div>
</div>