@import url("slidesShow.css"); 

*{
  margin: 0;
  padding: 0;
}

body{
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  /* font-size: 14px; */
  line-height: 25px;
  color: #333;
  font-size: 16px !important;
  background-color: #fff;
}

.main, .header-nav,.home-page-panel,.header-title{
  display: flex;
  width: 100%;
}

.main{
  flex-direction: column;
}

.header-title-content{
  position: relative;
  display: flex;
  width: 100%;
  color: #242424;
  font-size: 12px;
}

.main .header-title div:nth-child(1)>p{
padding: 0;
margin: 0;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.header-title-right ul{
  display: inline-flex;
  list-style-type: disc;
}

ul li{
  list-style: none;
}

ul li a:hover{
text-decoration: none;
color: #cc2121;
}

.header-title-right ul ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.reset-padding{
  padding-left: 0;
}

@media screen and (max-width: 767px){
  
  .header-title-right{
    justify-content: center !important;
  }

  .main .header-title div:nth-child(1).col-md-6{
    text-align: center;
  }

  .header-title{
    padding-bottom: 10px;
  }

  .main .header-title div:nth-child(1)>p{
    margin-block-end: 5px;
    margin-block-start: 10px;
  }

  .less-md-space-between>div:nth-child(2){
    margin: 15px auto !important;
  }

  .form-search{
    width: 62%;
  }
}

@media screen and (max-width: 767px){

}

ul.title-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  /* align-items: center; */
}

ul.sub-title-menu{
  position: absolute;
  z-index: 1119;
  min-width: 110px;
  margin: 0;
  padding: 10px 18px;
  text-align: right;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  right: 0;
  top: 63%;
  transition: all 0.5s ease;
  opacity: 0;  
  visibility: hidden;
  display: none;
}

ul li:hover>ul,ul li ul:hover,ul li:focus>ul,ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header-title-right{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.li:hover{
  cursor: pointer;
}

ul.title-nav>li{
  position: relative;
  margin-left: 15px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.border-bottom-solid-gray{
  border-bottom: 1px solid #ebebeb;
}

ul.sub-title-menu>li:not(:last-child){
  border-bottom: 1px solid #ededed;;
}

ul.sub-title-menu>li:nth-last-child(){
  margin-bottom: 0 !important;
}

.full-w-h{
  width: 100%;
  height: 100%;
}

#search-input{
  border: none;
  outline: none;
  width: 100%;
}

ul.header-right{
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
}

ul.header-right li:not(:first-child) {
   margin-left: 20px;
}

.icon{
  display: block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.account-icon{
  background-image: url("../images/account.svg");
}

.account-icon:hover,.account-icon:focus{
  background-image: url("../images/account-red.svg");
}

.heart-icon{
  background-image: url("../images/heart.svg");
}

.heart-icon:hover,.heart-icon:focus{
  background-image: url("../images/heart-red.svg");
}

.shopping-cart-icon{
  background-image: url("../images/shopping-cart.svg");
}

.shopping-cart-icon:hover,.shopping-card-icon:focus{
  background-image: url("../images/shopping-cart-red.svg");
}

.settings-icon{
  background-image: url("../images/settings.svg");
}

.settings-icon:hover,.settings-icon:focus{
  background-image: url("../images/settings-red.svg");
}

.search-icon{
  background-image: url("../images/search-icon.svg");
}

.search-icon:hover,.search-icon:focus{
  background-image: url("../images/search-red.svg");
}

.input-container{
  display: flex;
  width: 100%;
  position: relative;
}

.h-max{
  max-height: 100px;
}

.cart-icon{
  background: #cc2121;
  color: #fff;
  display: block;
  font-size: 10px;
  height: 21px;
  line-height: 21px;
  position: absolute;
  margin-inline-start: 15px;
  margin-block-start: -10px;
  /* right: -10px; */
  text-align: center;
  /* top: -7px; */
  width: 21px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.cart-custom-top-right{
  margin-block-start: -47px;
  margin-inline-start: 10px;
}

.form-search{
  min-width: 180px;
}

/* .slidesShow-div{
  width: 100%;
  height: 100%;
} */

.account-wrapper{
  right: 36%;
}

@media screen and (min-width:767px){
  .account-wrapper{
    right: 36%;
    margin-inline-end: 109px;
    margin-block-start: -10%;
  }
}

.form-footer {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.form-footer>a {
  margin-right: 10px;
}

.form-header{
  padding: 20px 50px;
  
}

.reg-sig-btn{
  color: white;
  background-color: #4CAF50;
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.reg-sig-btn:hover{
  opacity: 1;
}

.sign{
  background-image: url('/images/backgroundRegister.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

.form-1{
  margin: 10px auto;
}

/* footer start */
.footer {
  padding: 26px 0 25px;
  background: #404042;
  overflow: hidden;
  margin-top: 50px;
  color: white;
}
/* footer end */

.menu a{
  font-size: 18px !important;  
}

.recruitment{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-image: url("https://st2.depositphotos.com/2635513/7336/i/950/depositphotos_73367023-stock-photo-sorry-background.jpg");
  background-size: cover;
  height: calc(1.5*100vh);
  text-align: center;
  width: 100%;
  opacity: 0.8;
  font-weight: bold;
  font-size: 3rem !important;
  color: black;
}

.recruitment span{
  width: 100%;
  margin: 1rem auto;
}

.about-us,.news,.subcribe{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about-us a{
  margin: 8px 0;
  color: white;
  text-decoration: none;
  display: block;
  text-align: start;
}

.detail_blog{
  width: 100%;
  background-color: white;
  padding: 10px;
}

.news a, .news h2{
  margin: 8px 0;
  color: white;
  text-decoration: none;
  display: block;
  text-align: start;
}

.subcribe>*{
  margin: 8px 0;
  color: white;
  text-decoration: none;
  display: block;
  text-align: start;
}

.footer .title,.about-us .title,.news .title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer .form-subcribe {
  position: relative;
  margin: 15px 0 25px;
}

.footer .form-subcribe .input-subcribe {
  height: 49px;
  width: 95%;
  color: #959595;
  padding-left: 19px;
  border-radius: 4px 0 0 4px;
}

.subcribe p{
  margin-top: 0;
  margin-bottom: 1rem;
}

.subcribe a{
  margin: 8px 0;
  color: white;
  text-decoration: none;
  display: block;
  text-align: start;
}

.subcribe a i{
  width: 25px;
  height: auto;
}

.footer .form-subcribe .submit-subcribe {
  background: #cc121f;
  border-radius: 0 4px 4px 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 50px;
  cursor: pointer;
}
/* confirm.ejs start */
.info-left{
  width: 75%;
  display: flex;
  box-sizing: border-box;
  align-items:flex-start;
  flex-direction: column;
}

.login-warning-title,.login-warning-content,.login-warning-button{
  width: 50%;
  flex: 1;
  margin:5px 20px;
}
.login-warning{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-start;
  background-image: url("/images/thankyou.jpg");
  border-radius: 10px;
  background-position:right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  border:1px solid #e6e6e6;
  background-color: white;
  padding: 10px 5px;
  margin-bottom: 40px !important;
}
.login-warning h4{
  /* font-size: 20px; */
  font-weight: bold;
  line-height: 1.5em;
  color: #222;
}
.login-warning-content{
  color: #555 !important;
}
.login-warning-button button{
  padding: 5px 8px;
  background-color: #F65E39;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.full-w{
  width: 100%;
}

.lux-bg{
  /* background-color: #f4f4f4; */
  background-color: #f1f0f0;
}

.user-image{
  border-radius: 50%;
  border:1px solid black;
  width: 150px;
  height: auto;
  border-radius: 50%;
  /* margin: auto; */
}

.title-left{
  width: 20%;
}

.edit, .a-button{
  background-color: #4CAF50;
  max-width: 50%;
  color: white;
  border-radius: 8px;
  border: none;
  text-decoration: none !important;
  min-width: 25%;
}

.edit:hover,edit:focus,.a-button:hover,a-button:focus{
  color: white;
}

.width-20{
  width: 20%;
}

@media screen and (max-width: 575.98px){
  .template-profile{
    flex-direction: column !important;
    padding: auto 10px;
  }
  .mobile-ms{
    width: 100%;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.c-product-card {
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  width: 100%;
}

.product-card>a{
  position: relative;
}

.product-card a{
  display: block;
}

.product-card-media {
  background: #f2f2f2;
  height: 46vw;
  overflow: hidden;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1023px) and (min-width: 481px){
.c-product-card {
    width: 50% !important;
}
}

@media  screen and (min-width: 1024px){
.c-product-card {
    width: 25% !important;
}
}

.product-card{
margin: 6px;
background: #fff;
}

@media (min-width: 1281px){
.product-card-media {
  max-height: 271px !important;
}
}

@media (max-width: 1280px) and (min-width: 1024px){
.product-card-media {
  max-height: 226px !important;
}
}

@media (max-width: 1023px) and (min-width: 768px){
.product-card-media {
  max-height: 226px !important;
}
}

@media (max-width: 767px) and (min-width: 481px){
.product-card-media {
  max-height: 166px !important;
}
}

.product-card-media img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: block;
  border: 0;
  padding: 5px;
}

.product-card-details {
  min-height: 8rem;
  padding: 6px;
  background-color: #f1f0f0;
}

.product-card-details h2{
  min-height: 3.2rem;
  /* line-height: 1.3; */
}

h2#productName{
  font-size: 18px;
  text-transform: none;
}

.product-price{
  margin-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.old-price{
  font-size: 18px;
  color: #a2a2a2;
  text-decoration: line-through;
  font-weight: 300;
}

.current-price{
  color: #ff3b26;
  font-size: 20px;
}

span.sale-tag{
  color: #ff3b26;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.container-profile{
  border-radius: 8px;
  border: 1px solid #999595;
  background-color: white;
  padding: 0px 5px;
  margin : 5px 5px;
}

.top-right-profile,.bottom-right-profile{
  width: 100%;
  margin: 5px !important;
}

.edit-profile-btn,.cancel-profile-button,.save-profile-button{
  min-width: 100px;
  width: 20%;
}

.form-control-confirm{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#confirmPasswordFormId{
  display: none;
}

.bottom-right-profile h3,#edit-top-form h3{  
  font-weight: bold;
}

.bottom-right-profile .form-group,#edit-top-form .form-group{  
  margin-left: 20px;
  margin-right: 20px;
}

.bottom-right-profile h3{
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-btn{
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  position: relative;
  /* border: 1px solid #e1e1e1; */
  letter-spacing: 0.4em;
  text-align: center;
  /* text-indent: 2px; */
  /* background-color: #4CAF50; */
  background-color: white;
  border-radius: 10px;
}

.brand-name{
  min-height: 45px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.unset-radius{
  border-radius: unset !important;
}

.border-left{
  border: 1px solid white;
}

.product-card div:nth-child(4):hover,.product-card div:nth-child(4):focus,.product-card div:nth-child(4) i:hover,.product-card div:nth-child(4) i:focus{
  color: red !important;
}

.btn-search{
  border: none;
  background-color: white;
}

.img404{
  background-image: url('../images/error404.svg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.back-home{
  text-decoration: none !important;
}

.search-sort-btn{
  display: inline-block;
  padding: 2px 10px;
  /* text-decoration: none; */
  position: relative;
  /* border: 1px solid #e1e1e1; */
  /* letter-spacing: 0.4em; */
  text-align: center;
  /* text-indent: 2px; */
  /* background-color: #4CAF50; */
  background-color: white;
  border-radius: 10px;
}

#filter-product-form select{
  margin: auto 3px;
}

button.filter-btn{
  padding: 5px 10px;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin:auto 5px;
}

.min-width-110{
  min-width: 110px;
}

.min-width-70{
  min-width: 70px;
}

.product-img{
  width: 30%;
  min-width: 250px;
}
.product-img img{
  /* width: 100 */
}

.cart-row{
  display: flex;
  flex-direction: row;
}

.cart-item{
  flex:0.75
}

.item-name{
  flex:0.25
}

.product-image{
  position: relative;
}

.product-image img {
  display: block;
width: 100%;
}

.quantity{
  margin-right: 20px;
}

.dec-btn, .inc-btn{
width: 30px;
height: 30px;
border-radius: 50%;
line-height: 30px;
border: 1px solid#999;
text-align: center;
cursor: pointer;
user-select: none;
}

.quantity input {
border-radius: 8px;
border: 1px solid black;
text-align: center;
color: #333;
font-weight: 400;
line-height: 30px;
outline: none;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.bootstrap-select {
  width: 220px;
  vertical-align: middle;
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: .5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}

.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.add-btn{
padding-left: 0;
list-style: none;
margin-top: 30px;
}

.add-btn a{
border: 1px solid transparent;
}

.h3-color{
  color: #999900;
}

.quantity2{
  /* padding-left: 10px;
  padding-right: 10px; */
}

.scroll-horizontal{
  /* width: 100vw; */
  height: 100vh;
  overflow: scroll;
  white-space: nowrap;
}

.image-wrap{
  width: 50%;
  height: 100%;
}

.name{
  width: 50%;
  height: 100%;
}

.border-radius-input{
  border-radius: 10px;
  height: 42px;
}




